backports.functools-lru-cache==1.5
cycler==0.10.0
graphviz==0.8.2
kiwisolver==1.0.1
matplotlib==2.2.2
nltk==3.2.5
numpy==1.14.2
opencv-python==3.4.0.12
paddlepaddle-gpu==1.2.0.post97
Pillow==5.1.0
protobuf==3.1.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
rarfile==3.0
recordio==0.1.7
requests==2.9.2
scipy==1.0.1
setuptools==20.7.0
six==1.11.0
wheel==0.29.0
